

/*

Header

*/

#header_top {
    width: 100%;
    height: 250px;
    background-color: #cccccc;
}

#header_bottom {
    width: 100%;
    height: 100px;
    border-top: 2px solid #555555;
    background-color: #cccccc;

}

#header_bottom:hover  {
    background-color: #366097;
    color: #cccccc;

}